.footer{
    height: 80px;
    width:100%;
    background-color: black;
}
.copyright{
    bottom: 0px;
    margin-top:100%;
    padding: 19px;
    padding-top: 20px;
    color: whitesmoke;

}
.content{
    margin:50px;
    padding: 30px;
    top:50px;
    align-content: center;
    align-items: center;
}
.iconMainMenu{
    padding: 10px;
    margin: 10px;
    color: crimson;
}
.card{
    background-color: rgba(196, 151, 172, 0.192);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
}
.mainGrid{
    display: inline-flex;
    /* flex-direction: column; */
    flex-flow: row;
    align-content: space-around;
    justify-content:flex-start;
    flex-wrap: wrap ;
    
}
.cardContent{
    width: 20%;
  
    margin: 30px;
    padding: 20px;
    /* background-color: rgba(228, 228, 235, 0.486); */
    border-radius: 10px;    
    align-content: center;
    align-items: center;
}

.inlineBUtton{
    display: inline;


}

#serachBut{
    margin-left: 30px;
    display: inline;
}
.text_feild_items{
    display: inline-flex;
    /* flex-direction: column; */
    flex-flow: row;
    align-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap ;
}
.beutyButDivUpper{
margin: 25px;
}
.card_contenet{
    align-content: center;
    margin-top:50px;
    margin-left: 11%;
    width: 80%
    
}